@primary: #F09C3C;                           // Base color & sidebar background

@import "../../shared/css/style.less";

// The main content wrapper

aside .image {
  height: 150px;
  width: 170px;
  margin: 22px 0 30px 30px;
  background-image: ~"url(images/web-lit-logo.svg)";
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

ul {
  margin-top: 25px;
}

aside nav {
  margin-top: 20px;
}

h1 {
  margin-top: 20px;
  font-size: 38px;
}

h2 {
  position: relative;
  padding-top: 30px;

  &:before {
    content:"";
    position: absolute;
    height: 2px;
    top: -2px;
    width: 50%;
    background: darken(@primary-light, 5%);
    left: 25%;
  }
}


sup {
  position: relative;
  width: 17px;
  margin-left: 2px;

  &:before {
    content: "";
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0px;
    top: 5px;
    border-radius: 50%;
    background: @link-background;
  }

  &:hover {
    &:before {
      background: darken(@link-background, 5%);
    }
  }

  a {
    color: @link-color;
    display: inline-block;
    font-size: .6em;
    width: 16px;
    text-decoration: none;
    padding: 0;
    text-align: center;
    position: relative;

    &:hover {
      background: transparent;
    }
  }
}

.footnotes sup {
  &:before {
    display: none;
  }
}

//Should we make this an inline example........

.example {
  display: block;
  font-weight: 300;
  padding: 17px 20px;
  margin-top: 10px;

  * {
    color: inherit;
  }
}

.footnotes {
  font-size: .8em;
  padding-top: 20px;
  margin: 60px 0 0 0;
  border-top: solid 2px @primary-light;

  .jump {
    text-decoration: none;
    opacity: .6;

    &:hover {
      opacity: .8;
      background: none;
    }

    &:after {
      font-family: "FontAwesome";
      content: "\f01b";
    }
  }
}
