// Main colors
@primary: #F09C3C;            // Section headings and side-bar background

@primary-darkest:  darken(@primary, 10%); // Selected state in nav
@primary-dark:  darken(@primary, 5%);     // Hover state in nav

@primary-light: #CAE8FA;      // Borders & horizontal rules
@primary-lightest: #E0F3FF;   // Background for Example

// Links
@link-color: #089970;         // Link text
@link-background: #E4F7F0;    // Link background when hovered
@text-dark: #273D44;            // Dark headings and bold items

@import "../../shared/css/style.less";


// The main content wrapper

article {
  .logo {
    left: 0px;
    width: 155px;
    margin-top: 20px;
  }
}

aside .image {
  height: 190px;
  width: 170px;
  margin: 22px 0 30px 27px;
  background-image: ~"url(images/mozilla-clubs-illustration.svg)";
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

aside nav {
  margin-top: 25px;
}

h1 {
  margin-top: 20px;
}


h4 {
  margin-bottom: 23px;
}

// What is this....
article {
  > ul, ol {
    padding-left: 22px;

    li {
      margin-bottom: 14px;
      line-height: 150%;
    }
  }
}

sup a {
  color: inherit;
  font-size: .8em;
  text-decoration: none;
  padding: 2px 4px;
}